/* General styles */
body {
    background-color: #0099cc;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #005f73;
    padding: 10px 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

header h1 {
    margin: 0;
    font-size: 36px;
    text-align: center;
}

nav {
    margin-top: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #003d4d;
    border-radius: 5px;
}

footer {
    background-color: #005f73;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Style for pages */
.game-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.game-card {
    background-color: white;
    color: black;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 250px;
    margin: 10px;
    text-align: center;
    padding: 10px;
}

.game-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

button {
    background-color: #005f73;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #003d4d;
}
